.App-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 60px 14fr;
  grid-template-areas: 
  "lg"
  "lb"
  "c";
  grid-gap: 20px;
  margin-left: auto;
  margin-right: auto; 
  width: 80%; 
}
.App-wrapper-MainContent{
	margin: 10px;
	padding: 20px;
	border: 5px solid rgb(255, 0, 200);
	border-radius: 30px;
}

.content{
  grid-area: c;
}
.content::after {  
}







